@import '../variables.scss';
@import '../mixins.scss';

.warehouse-index {
  .filter-container {
    .filter-item {
      &.search-input {
        width: 200px;
      }
      
      &.action-button {
        margin-left: 10px;
      }
    }
  }
  
  .el-table {
    width: 100%;
  }
  
  .operation-button {
    margin-right: 5px;
  }
} 